<!DOCTYPE html>
<html>
    <head>
        <title>list of people</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
        .p-5{
            padding:50px 0px;
        }
        .bg-gry{
            background: #ccc;
        }
        .bg-bdr{
            border:1px solid #fff;
        }
        .mt-10{
            margin-top:100px;
        }
    </style>
    <body class="bg-gry">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 p-5 bg-bdr mt-10">
                    {{{body}}}
                </div>
            </div>
        </div>
        
    </body>
</html>