
<h3>{{viewtitle}}</h3>
<form action="list/show" method="post" autocomplete="off">
    <input type="hidden" name="_id" value="{{list._id}}">
    <div class="form-group">
        <label for="name">Name</label>
            <input type="text" class="form-control" name="Name" placeholder="Enter your Name">
        </label>
    </div>
    <div class="form-group">
        <label for="name">Age</label>
            <input type="number" class="form-control" name="Age" placeholder="Enter your Age">
        </label>
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
            <input type="radio" name="Gender" value="male">male
            <input type="radio" name="Gender" value="Female">female 
        </label>
    </div>
    <div class="form-group">
        <label for="name">Mobile number</label>
            <input type="text" class="form-control" name="mobileNumber" placeholder="Enter your Mobile Number">
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit </button>
        <a href="/list/details" class="btn btn-success">view all</a>
    </div>
</form>