
<h3>{{viewtitle}}</h3>
<form action="/list" method="post" autocomplete="off">
    <div class="form-group">
        <label for="name">Name</label>
            <input type="text" class="form-control" name="Name" placeholder="Enter your Name">
        </label>
    </div>
    <div class="form-group">
        <label for="name">Age</label>
            <input type="number" class="form-control" name="Age" placeholder="Enter your Age">
        </label>
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
            <input type="radio" name="Gender" value="male">male
            <input type="radio" name="Gender" value="female">female 
        </label>
    </div>
    <div class="form-group">
        <label for="name">Mobile number</label>
            <input type="number" class="form-control" name="Mobile Number" placeholder="Enter your Mobile Number">
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit </button>
    </div>
</form>